.idea
gonitor.lock
tmp
script
gonitor.exe
gonitor.db
web/client/node_modules
web/client/build
node_modules
apps/web/node_modules
apps/web/build
apps/mobile/.dart_tool
apps/mobile/build
apps/mobile/.packages
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
